@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
svg * {
    /* transition: all 0.3s ease-out; */
}
body {
    padding: 5em 6em;
    background: #f1f2f6;
    color: #2f3542;
    font-size: 16px;
}
h2 {
    font-weight: 900;
}
a {
    color: #5352ed;
    font-weight: 600;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2.5em;
    max-height: 3.6em;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: all 0.2s ease-out;
    border: 1px solid;
    color: #4848c0;
    background: hsl(240, 100%, 91%);
    border-radius: 3em;
    position: relative;
    overflow: hidden;
    user-select: none;
    font-size: 0.875em;
    font-weight: 600;
    border: none;
    transition: background-color 0.2s ease-out;
}
button:hover,
button:active,
button:focus {
    background: hsl(240, 100%, 87%);
}
.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.buttons a {
    display: block;
    text-decoration: none;
    margin-left: 0.6em;
}
.download-button {
    display: block;
    margin-top: 3em;
}
.home-link {
    position: fixed;
    top: 0;
    left: 5em;
    padding: 1em 2em;
    margin-top: 1em;
}
/* svg {
    background: white;
    border: 2px solid darkgrey;
} */

.options {
    display: flex;
    align-items: stretch;
}

.option {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1em 2em;
    padding: 0.6em 2em;
    background: white;
}
.option:after {
    content: "A";
    position: absolute;
    top: 1.2em;
    left: -1em;
    font-weight: 900;
    background: teal;
    color: white;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.option:last-of-type:after {
    content: "B";
}
.option:last-of-type:before {
    content: "or";
    margin-left: -4.5em;
    font-weight: 900;
    color: teal;
}
.option ol {
    margin-left: 2em;
}